.containerShow {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}
.teks1CartShow {
  font-family: "Poppins";
  text-transform: capitalize;
  font-size: 22px;
  margin-top: 10px;
}
.teks2CartShow {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 500;
  margin-top: 6px;
}
.btnCartShow {
  background-color: orange;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  color: white;
  margin-top: 15px;
}
.btnChackout {
  background-color: blue;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  color: white;
}

td{
    vertical-align: middle;
}